body {
  font-family: "Helvetica", sans-serif;
  background-color: green;
}

h2 {
  color: #227c20;
}

#contact {
  background-color: #f9ff5b;
  padding: 1%;
}

#wrapper {
width:100%;
margin : 0;
}

#first-div {
width:50%;
margin : 0;
float : left ;
}

#second-div {
width:50%;
margin : 0;
float : left ;
}
